:root {
    --border-color: red;
    --background-color: green;
    --number-color: yellow;
    --border-number-color: orange;
    --text-color: black;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--number-color);
}

.list {
    width: 350px;
    height: 220px;
    list-style: none;
    display: flex;
    align-items: center;
    border: 2px dashed var(--border-color);
    background-color: var(--background-color);
    margin-bottom: 30px;
}

.number {
    font-size: 24px;
    margin-right: 20px;
    border: 2px solid var(--number-color);
    background-color: var(--border-number-color);
    padding: 15px 10px 20px 10px;
    border-radius: 17px;
}
.text{
color:var(--text-color) ;
font-size: 24px;

}